    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                <!-- Updates from Subscriptions -->
                <div class="content-block" data-fragment="template/index_subscriber.html" data-fragment-json="data/index_subscriber.json">
                   
                </div>
                <!-- /Updates from Subscriptions -->

                <!-- Featured Videos -->
                <div class="content-block head-div" data-fragment="template/index_featured.html" data-fragment-json="data/index_featured.json">
               
                </div>
                <!-- /Featured Videos -->

                <!-- New Videos in India -->
                <div class="content-block head-div head-arrow">
                
                </div>
                <!-- /New Videos in India -->

                <!-- Popular Playlists -->
                <div class="content-block head-div head-arrow">

                </div>
                <!-- /Popular Playlists -->

                <!-- Popular Channels -->
                <div class="content-block head-div head-arrow" data-fragment="template/index_channel.html" data-fragment-json="data/index_channel.json">

                </div>
                <!-- /Popular Channels -->

                <!-- pagination -->
                <div class="v-pagination">
                    <ul class="list-inline">
                        <li class="v-pagination-prev"><a href="index.html#"><i class="cv cvicon-cv-previous"></i></a></li>
                        <li class="v-pagination-first"><a href="index.html#">1</a></li>
                        <li><a href="index.html#">2</a></li>
                        <li><a href="index.html#">3</a></li>
                        <li><a href="index.html#">4</a></li>
                        <li><a href="index.html#">5</a></li>
                        <li><a href="index.html#">...</a></li>
                        <li><a href="index.html#">10</a></li>
                        <li class="v-pagination-skin visible-xs"><a href="index.html#">Skip 5 Pages</a></li>
                        <li class="v-pagination-next"><a href="index.html#"><i class="cv cvicon-cv-next"></i></a></li>
                    </ul>
                </div>
                <!-- /pagination -->

            </div>
        </div>
    </div>
