                            <div class="reply-comment">
                                <div class="rc-header"><i class="cv cvicon-cv-comment"></i> <span class="semibold">236</span> Comments</div>
                                <div class="rc-ava"><a href="single-video-tabs.html#"><img src="images/ava5.png" alt=""></a></div>
                                <div class="rc-comment">
                                    <form action="single-video-tabs.html#" method="post">
                                        <textarea rows="3">Share what you think?</textarea >
                                        <button type="submit">
                                            <i class="cv cvicon-cv-add-comment"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="comments-list">

                                <div class="cl-header">
                                    <div class="c-nav">
                                        <ul class="list-inline">
                                            <li><a href="single-video-tabs.html#" class="active">Popular <span class="hidden-xs">Comments</span></a></li>
                                            <li><a href="single-video-tabs.html#">Newest <span class="hidden-xs">Comments</span></a></li>
                                        </ul>
                                    </div>
                                </div>

                                <!-- comment -->
                                <div class="cl-comment">
                                    <div class="cl-avatar"><a href="single-video-tabs.html#"><img src="images/ava8.png" alt=""></a></div>
                                    <div class="cl-comment-text">
                                        <div class="cl-name-date"><a href="single-video-tabs.html#">BOWTZ pros</a> . 1 week ago</div>
                                        <div class="cl-text">Really great story. You're doing a great job. Keep it up pal.</div>
                                        <div class="cl-meta"><span class="green"><span class="circle"></span> 121</span> <span class="grey"><span class="circle"></span> 2</span> . <a href="single-video-tabs.html#">Reply</a></div>
                                        <div class="cl-replies"><a href="single-video-tabs.html#">View all 5 replies <i class="fa fa-chevron-down" aria-hidden="true"></i></a></div>
                                        <div class="cl-flag"><a href="single-video-tabs.html#"><i class="cv cvicon-cv-flag"></i></a></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- END comment -->

                                <!-- reply comment -->
                                <div class="cl-comment-reply">
                                    <div class="cl-avatar"><a href="single-video-tabs.html#"><img src="images/ava7.png" alt=""></a></div>
                                    <div class="cl-comment-text">
                                        <div class="cl-name-date"><a href="single-video-tabs.html#">kingPIN</a> . 6 days ago</div>
                                        <div class="cl-text"> I was stuck too. then I started to shoot everything in Doom.</div>
                                        <div class="cl-meta"><span class="green"><span class="circle"></span> 70</span> <span class="grey"><span class="circle"></span> 9</span> . <a href="single-video-tabs.html#">Reply</a></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- END reply comment -->

                                <!-- comment -->
                                <div class="cl-comment">
                                    <div class="cl-avatar"><a href="single-video-tabs.html#"><img src="images/ava2.png" alt=""></a></div>
                                    <div class="cl-comment-text">
                                        <div class="cl-name-date"><a href="single-video-tabs.html#">Isleifna</a> . 1 week ago</div>
                                        <div class="cl-text">Omg thank you so much, idk how I couldn't figure out that master trap</div>
                                        <div class="cl-meta"><span class="green"><span class="circle"></span> 245</span> <span class="grey"><span class="circle"></span> 19</span> . <a href="single-video-tabs.html#">Reply</a></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- END comment -->

                                <!-- comment -->
                                <div class="cl-comment">
                                    <div class="cl-avatar"><a href="single-video-tabs.html#"><img src="images/ava3.png" alt=""></a></div>
                                    <div class="cl-comment-text">
                                        <div class="cl-name-date"><a href="single-video-tabs.html#">Mark</a> . 2 days ago</div>
                                        <div class="cl-text">you welcome could you watch my video plz dude you are awsome</div>
                                        <div class="cl-meta"><span class="green"><span class="circle"></span> 516</span> <span class="grey"><span class="circle"></span> 64</span> . <a href="single-video-tabs.html#">Reply</a></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- END comment -->

                                <!-- comment -->
                                <div class="cl-comment">
                                    <div class="cl-avatar"><a href="single-video-tabs.html#"><img src="images/ava4.png" alt=""></a></div>
                                    <div class="cl-comment-text">
                                        <div class="cl-name-date"><a href="single-video-tabs.html#">High_on_meme</a> . 4 days ago</div>
                                        <div class="cl-text">People allover the world took his music to heart and that music coming from his soul</div>
                                        <div class="cl-meta"><span class="green"><span class="circle"></span> 95</span> <span class="grey"><span class="circle"></span> 0</span> . <a href="single-video-tabs.html#">Reply</a></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- END comment -->

                                <!-- reply comment -->
                                <div class="cl-comment-reply">
                                    <div class="cl-avatar"><a href="single-video-tabs.html#"><img src="images/ava5.png" alt=""></a></div>
                                    <div class="cl-comment-text">
                                        <div class="cl-name-date"><a href="single-video-tabs.html#">Battlefeelz</a> . 19 hours ago</div>
                                        <div class="cl-text">He looks like Rhett with the most glorious wig ever</div>
                                        <div class="cl-meta"><span class="green"><span class="circle"></span> 871</span> <span class="grey"><span class="circle"></span> 32</span> . <a href="single-video-tabs.html#">Reply</a></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <!-- END reply comment -->

                                <div class="row hidden-xs">
                                    <div class="col-lg-12">
                                        <div class="loadmore-comments">
                                            <form action="single-video-tabs.html#" method="post">
                                                <button class="btn btn-default h-btn">Load more Comments</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
