
                <!-- up next -->
                <div class="caption">
                    <div class="left">
                        <a href="single-video-tabs.html#">Up Next</a>
                    </div>
                    <div class="right">
                        <a href="single-video-tabs.html#">Autoplay <i class="cv cvicon-cv-btn-off"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div
		  data-fragment="template/watch_suggest_upnext.html"
		  data-fragment-json="data/video/tmp.json"
		  class="list">

                </div>
                <!-- END up next -->

                <div class="adblock">
                    <div class="img">
                        Google AdSense<br>
                        336 x 280
                    </div>
                </div>

                <!-- Recomended Videos -->
                <div class="caption">
                    <div class="left">
                        <a href="single-video-tabs.html#">Recomended Videos</a>
                    </div>
                    <div class="right">
                        <a href="single-video-tabs.html#">Autoplay <i class="cv cvicon-cv-btn-off"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div
		  data-fragment="template/watch_suggest_recommend.html"
		  data-fragment-json="data/video/tmp.json"
		  class="list">

                </div>
                <!-- END Recomended Videos -->

                <!-- load more -->
                <div class="loadmore">
                    <a href="single-video-tabs.html#">Show more videos</a>
                </div>
